Day46_XML/XML/XML/Lesson 2/Demo/2_D_2.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
 <xsd:element name="PRODUCTDATA" type="prdata"/>
  <xsd:complexType name="prdata">
   <xsd:sequence>
    <xsd:element name="PRODUCT" type="prdt"/>
   </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="prdt">
   <xsd:sequence>
    <xsd:element name="PRODUCTNAME" type="xsd:string"/>
    <xsd:element name="DESCRIPTION" type="xsd:string"/>
    <xsd:element name="PRICE" type="xsd:positiveInteger"/>
    <xsd:element name="QUANTITY" type="xsd:nonNegativeInteger"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
