Day46_XML/XML/XML/Lesson 2/Demo/2_D_1.dtd

<!ELEMENT PRODUCTDATA (PRODUCT)+>
<!ELEMENT PRODUCT (PRODUCTNAME, DESCRIPTION, PRICE, QUANTITY)>
<!ELEMENT PRODUCTNAME (#PCDATA)>
<!ELEMENT DESCRIPTION (#PCDATA)>
<!ELEMENT PRICE (#PCDATA)>
<!ELEMENT QUANTITY (#PCDATA)>
<!ATTLIST PRODUCT PRODUCTID ID #REQUIRED
                  CATEGORY (BOOKS | TOYS) "TOYS">
