Day46_XML/XML/XML/Lesson 3/Just a Minute/3_JAM_2_a.xsd

<schema xmlns="http://www.w3.org/2001/XMLSchema" 
targetNamespace="www.ecomatcybershop.com/sale">
<simpleType name="prstring">
<restriction base="string">
<pattern value="[P]{1}\d{3}"/>
</restriction>
</simpleType>
<simpleType name="orstring">
<restriction base="string">
<pattern value="[O]{1}\d{3}"/>
</restriction>
</simpleType>
<simpleType name="custstring">
<restriction base="string">
<pattern value="[C]{1}\d{3}"/>
</restriction>
</simpleType>
</schema>
