Day46_XML/XmlData/src/main/java/com/java/xml/Product.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="PRODUCTDATA" type="complexTypeProductData" />
<xsd:complexType name="complexTypeProductData">
	<xsd:sequence>
		<xsd:element name="PRODUCT" type="complexTypeproduct" maxOccurs="unbounded"/>
	</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="complexTypeproduct">
	<xsd:sequence>
		<xsd:element name="PRODUCTNAME" type="xsd:string"/>
		<xsd:element name="DESCRIPTION" type="xsd:string"/>
		<xsd:element name="PRICE" type="xsd:positiveInteger"/>
		<xsd:element name="QUANTITY" type="xsd:nonNegativeInteger"/>
	</xsd:sequence>
</xsd:complexType>
</xsd:schema>