Day46_XML/XML/XML/Lesson 2/Just a Minute/2_JAM_1.dtd

<!ELEMENT BOOKDETAILS (BOOK)+>
<!ELEMENT BOOK (TITLE, FIRSTNAME, LASTNAME, PRICE)>       
<!ELEMENT TITLE (#PCDATA)>
<!ELEMENT FIRSTNAME (#PCDATA)>
<!ELEMENT LASTNAME (#PCDATA)>
<!ELEMENT PRICE (#PCDATA)>
<!ATTLIST BOOK ISBN ID #REQUIRED
        BOOKCATEGORY (HISTORY | SCIENCE | FICTION) "FICTION">
