Day46_XML/XML/XML/Lesson 4/Demo/example3.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<xsd:element name="CUSTOMER" type="custtype" />
<xsd:complexType name="custtype">
<xsd:sequence>
<xsd:group ref="custname"/>
<xsd:element name="ADDRESS" type="addtype"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="addtype">
<xsd:choice>
<xsd:element name="RESIDENCE" type="xsd:string"/>
<xsd:element name="OFFICE" type="xsd:string"/>
</xsd:choice>
</xsd:complexType>
<xsd:group name="custname">
<xsd:sequence>
<xsd:element name="FIRSTNAME" type="xsd:string"/>
<xsd:element name="LASTNAME" type="xsd:string"/>
</xsd:sequence>
</xsd:group>
</xsd:schema>
